<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sahabah</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- navigation -->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo2.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kategori
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="kategori.html">Action 1</a>
                <a class="dropdown-item" href="kategori.html">Action 2</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Tentang Kami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontak</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
            </li> -->

          </ul>
        </div>
      </div>
    </nav>
  </section>


  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-m">
          <h3>Kategori</h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <b><a href="index.html" title="">Home</a> <i class="fa fa-arrow-right"></i> Kategori</b>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar">
          <h5>Produk terlaris</h5>
          <div class="row mt-3">
            <div class="col-md-3">
              <center>
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5391345406_2_1_1-1-400x400.jpg" class="gambar-footer" alt="">
              </center>
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <center>
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5559331632_2_1_1-400x400.jpg" class="gambar-footer" alt="">
              </center>
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <center>
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/1512311009_2_5_1-1-400x400.jpg" class="gambar-footer" alt="">
              </center>
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>

          <h5 class="mt-5">Kategori</h5>
          <div class="row">
            <div class="col-md-12">
              <div class="row mt-3">
                <div class="col-md-9">
                  <a href="" title="">Men</a>
                </div>
                <div class="col-md-3">
                  <span class="badge badge-light">9</span>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-9">
                  <a href="" title="">Jackets</a>
                </div>
                <div class="col-md-3">
                  <span class="badge badge-light">9</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <p>Menampilkan semua <b>0</b> hasil</p>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5593559500_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5713501400_2_1_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5711515833_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5688547800_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5680505811_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5559315711_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5559325500_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
            <div class="col-md-3 mb-5 link-item">
              <a href="detail.html" title="">
                <center>
                  <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/9393313800_2_4_1-400x400.jpg" class="img-fluid gambar-produk" alt="">
                </center>
                <p class="mt-4">Lorem Ipsum dolor</p>
                <h6>SWEATER</h6>
                <hr>
                <h6 class="text-web">Rp 200.000</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- footer -->

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Metode Pembayaran</h5>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
        </div>
        <div class="col-md-3">
          <h5>Produk Terlaris</h5>
          <div class="row mt-3">
            <div class="col-md-3">
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5391345406_2_1_1-1-400x400.jpg" class="gambar-footer" alt="">
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/5559331632_2_1_1-400x400.jpg" class="gambar-footer" alt="">
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
                <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/27/2018/03/1512311009_2_5_1-1-400x400.jpg" class="gambar-footer" alt="">
            </div>
            <div class="col-md-9">
              <a href=""><b>Striped denim dress</b></a>
              <br>
              Rp 200.000
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Panduan Belanja</h5>
          <a href="" title="">FAQ</a>
          <br>
          <a href="" title="">Pengiriman</a>
          <br>
          <a href="" title="">Pengembalian</a>
          <br>
          <a href="" title="">Kebijakan</a>
          <br>
          <a href="" title="">Ketentuan pembelian</a>
        </div>
        <div class="col-md-3">
          <h5>Perusahaan</h5>
          <a href="" title="">Tentang kami</a>
          <br>
          <a href="" title="">Tim kami</a>
          <br>
          <a href="" title="">Kantor</a>
          <br>
          <a href="" title="">Afiliasi</a>
          <br>
          <a href="" title="">Kontak</a>
        </div>
        <div class="col-md-12">
          <hr style="border: 1px solid #464646;margin-top: 50px;margin-bottom: 50px">
          <center>
            Copyright © 2018 Shahabah – Theme by <a href="http://doktersoftware.my.id" target="_blank" title="">Dokter Software</a>
          </center>
        </div>
      </div>
    </div>
  </section>
</body>
</html>